<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:3000/home/home.css">
    <script src="http://localhost:3000/home/src/envia_dados.js""></script>
    <script src="http://localhost:3000/home/src/manipula_item.js"></script>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div>
        <h3>Sistema de gerenciamento de materiais de construção</h3>
        <p>Adicione o produto desejado</p>
    <div>
    
    <form action="" method="post" id="form" class="grid">
        <input type="text" name="0">
        <input type="text" name="0">
    </form>
    <br>
    <button onclick="envia_dados()">enviar</button>
    <button onclick="novo_item()">novo item</button>
    <button onclick="remover_item()">remover_item</button>
</body>
</html>